<% include _tpl/header %>
<% include _tpl/halfbanner %>

  <!-- BODY CONTENT  -->
  <div class="container">
    <div class="row">
      <br/><br/>
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="./img/her/cover.png" alt="Profile image example"/>
    <img align="left" class="fb-image-profile thumbnail" src="./img/her/dp.jpg" alt="Profile image example"/>
    <div class="fb-profile-text" style = "color:black">
        <h4>Jeramie Joy Alayon</h4>
        <small>Look at the Stars. Look how they shine for You. And everything you do. Yeah, they were all Yellow</small>
    </div>
  </div>

      <div class="col-lg-2 col-sm-6">
        <div class="circle-tile ">
          <a href="https://www.facebook.com/TheJeramieJoy" target = "_blank"><div class="circle-tile-heading dark-blue"><i class="fa fa-facebook fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Friends</div>
            <div class="circle-tile-number text-faded ">1,952</div>
            <a class="circle-tile-footer" href="https://www.facebook.com/TheJeramieJoy" target = "_blank">TheJeramieJoy <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
       
      <div class="col-lg-2 col-sm-6">
        <div class="circle-tile ">
          <a href="https://twitter.com/TheJeramieJoy" target = "_blank"><div class="circle-tile-heading blue"><i class="fa fa-twitter fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content blue">
            <div class="circle-tile-description text-faded"> Tweets </div>
            <div class="circle-tile-number text-faded ">2,008</div>
            <a class="circle-tile-footer" href="https://twitter.com/TheJeramieJoy" target = "_blank">@TheJeramieJoy <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div> 

      <div class="col-lg-2 col-sm-6">
        <div class="circle-tile ">
          <a href="https://www.instagram.com/thejeramiejoy" target = "_blank"><div class="circle-tile-heading red"><i class="fa fa-instagram fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> Followers </div>
            <div class="circle-tile-number text-faded ">223</div>
            <a class="circle-tile-footer" href="https://www.instagram.com/thejeramiejoy" target = "_blank">thejeramiejoy <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div> 

      <div class = "col-lg-12">
          <hr/>
          <div>
            <h3>Age</h3>
            <h6>23  Years Old!!!</h6>
          </div>
          <hr/>
          <div>
            <h3>Life Verse</h3>
            <h6><b>Deuteronomy 31:6</b> <br/> Be strong and courageous. Do not be afraid or terrified because of them, for the Lord your God goes with you; he will never leave you nor forsake you.</h6>
          </div>
          <hr/>
          <div>
              <h3>Favorite Music</h3>
              <h6>Yellow - Coldplay</h6>
            </div>
            <hr/>
          <div class = "col-md-12">
            <h3>Watching this blogs</h3>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/alex-gonzaga.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Alex Gonzaga</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/andy-manzano.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Andy Manzano</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/angel.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Angel Del Peralta</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/bretman.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Bretman Rock</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/judys.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">itsJudysLife</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/lloyd.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Lloyd Cadena</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/michelle-dy.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Michelle Dy</label>
            </div>
            <div class = "col-md-3 col-lg-3 col-sm-3" align = "center">
              <img src = "/img/vlogs/ronan.jpg" class = "img-responsive img-circle"/>
              <label class = "text text-primary">Ronan Domingo</label>
            </div>
            
          </div> 

      </div>
    </div>
  <hr/>
    <footer class="row tm-footer">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-xs-center tm-copyright">Copyright &copy; 2018 John Michael Ong 
      </div>
    </footer>
  </div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>






<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/modernizr.min.js"></script>
<script src="./js/classie.js"></script>
<script src="./js/photostack.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
  $('body').addClass('loaded');
  new Photostack( document.getElementById( 'photostack-2' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
  
  new Photostack( document.getElementById( 'photostack-tglg' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
    
  new Photostack( document.getElementById( 'photostack-us' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
</script>
</body>
</html>
