<% include _tpl/header %>
<% include _tpl/halfbanner %>

  <!-- BODY CONTENT  -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="alert alert-dismissible alert-success">
          <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      
    <div class="widget-sidebar">
        <h2 class="title-widget-sidebar">Greetings</h2>
          <div class="content-widget-sidebar">
           <ul>
            <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-ojLI116-Mxk/WM1ZIwdnuwI/AAAAAAAADeo/4K6VpwIPSfgsmlXJB5o0N8scuI3iW4OpwCJoC/w424-h318-n-rw/thumbnail6.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-TrK1csbtHRs/WM1ZI1SIUNI/AAAAAAAADeo/OkiUjuad6skWl9ugxbiIA_436OwsWKBNgCJoC/w424-h318-n-rw/thumbnail3.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>

               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>


               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               
               
           </ul>
          </div>
        </div>
        </div>

        

  </div>

  
  <hr/>

  <footer class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="text-xs-center tm-copyright">Copyright &copy; 2018 John Michael Ong 
    </div>
  </footer>
</div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- <div class="container">
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="./img/her/cover.png" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="./img/her/dp.jpg" alt="Profile image example"/>
  <div class="fb-profile-text">
      <h3>Jeramie Joy Alayon</h3>
      <small>Look at the Stars. Look how they shine for You. And everything you do. Yeah, they were all Yellow</small>
  </div>
</div>
</div> -->
 
    


<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
  $('body').addClass('loaded');
</script>
</body>
</html>