<% include _tpl/header %>
<% include _tpl/halfbanner %>

<br/><br/>
  <!-- BODY CONTENT  -->
  <div class="container">
	<div class="row">
    <h3>Message for you</h3>
    <hr/>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="our-services-wrapper mb-60">
                <div class="services-inner">
                  <div class="our-services-img">
                  <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                  </div>
                  <div class="our-services-text">
                    <h4>Psalm 20:4</h4>
                    <p>May he give you the desire of your heart and make all your plan succeed.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="our-services-wrapper mb-60">
                <div class="services-inner">
                  <div class="our-services-img">
                  <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                  </div>
                  <div class="our-services-text">
                    <h4>2Corinthians 9:15</h4>
                    <p>Thanks be to God for his indescribable gift!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="our-services-wrapper mb-60">
                <div class="services-inner">
                  <div class="our-services-img">
                  <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                  </div>
                  <div class="our-services-text">
                    <h4>Proverbs 9:11</h4>
                    <p>For by me your days shall be multiplied, abd the years of your life shall be increased.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/5rPahS25wc4?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div> -->



  <hr/>
    <footer class="row tm-footer">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-xs-center tm-copyright">Copyright &copy; 2018  Boyfriend
      </div>
    </footer>
  </div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="scroll-top-wrapper">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>






<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/back-top.js"></script>
<script src="./js/modernizr.min.js"></script>
<script src="./js/classie.js"></script>
<script src="./js/photostack.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
  $('body').addClass('loaded');
  new Photostack( document.getElementById( 'photostack-2' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
  
  new Photostack( document.getElementById( 'photostack-tglg' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
    
  new Photostack( document.getElementById( 'photostack-us' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
</script>
</body>
</html>
