<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="./css/greet-panel.css">
    <link rel="stylesheet" href="./css/magnific-popup.css">
    <link rel="stylesheet" href="./css/templatemo-style.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/fb-profile.css">
</head>
<body>
  <header>
    <nav class="nav dark-nav">
      <div class="container">
        <div class="nav-heading">
          <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
          <a class="brand" href="#"><span class = "fa fa-heart"></span> EM <span class = "fa fa-heart"></span> </a>
        </div>
        <div class="menu" id="open-navbar1">
          <ul class="list">
            <li> <a href="/" ><span class = "fa fa-home"></span> Home</a></li>
            <li class = "active"><a href="/birthday-girl"><span class = "fa fa-gift"></span> Birthday Girl</a></li>
            <li><a href="/throwback"><span class = "fa fa-heart"></span> Throwback</a></li>
            <li><a href="/greetings"><span class = "fa fa-comment"></span> Greetings</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <section class="tm-header-gallery">
          
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
            <a href="img/img-11-03.jpg"><img src="img/img-11-03.jpg" alt="Image" class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></a>
            <a href="img/img-11-04.jpg"><img src="img/img-11-04.jpg" alt="Image" class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></a>
          </div>
          
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
            <div class="tm-site-name">
              <h2 class="text-uppercase tm-site-name-h2-custom">Happy Birthday</h2>
              <h2 class="tm-site-name-h2">Jeramie Joy!!!</h2>    
            </div>
            <img src="img/logo-bg.jpg" alt="Image" class="img-fluid tm-header-img">
          </div>
                                      
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
            <a href="img/img-11-01.jpg"><img src="img/img-11-01.jpg" alt="Image" class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></a>
            <a href="img/img-11-06.jpg"><img src="img/img-11-06.jpg" alt="Image" class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></a>                        
          </div>                
        
        </section>
      </div>
    </div>                
    <hr/>
  <!-- BODY CONTENT  -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="alert alert-dismissible alert-success">
          <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
        <div class="alert alert-dismissible alert-success">
            <strong>Happy 23rd birthday to the most amazing girl that I had met.  You are beautiful inside and outside.</strong>
        </div>
        <div class="alert alert-dismissible alert-success">
          <strong>I hope you like this, Enjoy your day. i love you <span class = "fa fa-heart"></span></strong>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      
    <div class="widget-sidebar">
        <h2 class="title-widget-sidebar">Greetings</h2>
          <div class="content-widget-sidebar">
           <ul>
            <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-ojLI116-Mxk/WM1ZIwdnuwI/AAAAAAAADeo/4K6VpwIPSfgsmlXJB5o0N8scuI3iW4OpwCJoC/w424-h318-n-rw/thumbnail6.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-TrK1csbtHRs/WM1ZI1SIUNI/AAAAAAAADeo/OkiUjuad6skWl9ugxbiIA_436OwsWKBNgCJoC/w424-h318-n-rw/thumbnail3.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>

               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>


               <hr>
               
               <li class="recent-post">
               <div class="post-img">
                <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h6>John Michael Ong</h6></a>
                <p class = "hidden-xs"><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
               </li>
               
               
           </ul>
          </div>
        </div>
        </div>

        

  </div>
  <hr/>

  <footer class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="text-xs-center tm-copyright">Copyright &copy; 2018 John Michael Ong 
    </div>
  </footer>
</div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- <div class="container">
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="./img/her/cover.png" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="./img/her/dp.jpg" alt="Profile image example"/>
  <div class="fb-profile-text">
      <h3>Jeramie Joy Alayon</h3>
      <small>Look at the Stars. Look how they shine for You. And everything you do. Yeah, they were all Yellow</small>
  </div>
</div>
</div> -->





<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
  $('body').addClass('loaded');
</script>
</body>
</html>