<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
<link rel="stylesheet" href="./css/bootstrap.min1111.css" id="bootstrap-css">
<link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">

<img src = "/img/greetings/message/christian-osias-greet.png" class = "img-responsive"/>
<div id="greetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">ddddhas some message for you</h5>
            </div>
            <div class="modal-body">
                  <img src = "/img/greetings/message/christian-osias-greet.png" class = "img-responsive"/>
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      
<button id = "btnClickUser1" class = "btn btn-primary">AA</button>
<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script>
    $(document).on('click', '#btnClickUser1', function(){
        $("#greetModal").modal();
    });
</script>