<% include _tpl/header %>
<% include _tpl/halfbanner %>
  <!-- BODY CONTENT  -->
  <div class="container">
  <div class="row">
    
    <h4>Sherry and Jeramie</h4>
    
      <section id="photostack-2" class="photostack photostack-start">
        <div>
          <figure>
            <a href="./img/tbt/bff/1.png" class="photostack-img"><img src="./img/tbt/bff/1.png" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">School</h2>
              <!-- <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
              </div> -->
            </figcaption>
          </figure>
          <figure>
            <a href="./img/tbt/bff/2.png" class="photostack-img"><img src="./img/tbt/bff/2.png" alt="img02"/></a>
            <figcaption>
              <h2 class="photostack-title">Foodtrip</h2>
            </figcaption>
          </figure>
         <figure data-shuffle-iteration="2">
            <a href="./img/tbt/bff/3.png" class="photostack-img"><img src="./img/tbt/bff/3.png" alt="img03"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
              <!-- <div class="photostack-back">
                <p>I have never been to a place so serene in my entire life before. Swimming in clear waters opened my mind to nature and reminded me of my and <span>eveybody</span> everybody else's mortality.</p>
              </div> -->
            </figcaption>
          </figure>
            <figure>
            <a href="./img/tbt/bff/4.png" class="photostack-img"><img src="./img/tbt/bff/4.png" alt="img04"/></a>
            <figcaption>
              <h2 class="photostack-title">Mcdo</h2>
              <!-- <div class="photostack-back">
                <p>These Happy Days are yours and mine Happy Days. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine?</p>
              </div> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/bff/5.png" class="photostack-img"><img src="./img/tbt/bff/5.png" alt="img05"/></a>
            <figcaption>
              <h2 class="photostack-title">School</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/bff/6.png" class="photostack-img"><img src="./img/tbt/bff/6.png" alt="img06"/></a>
            <figcaption>
              <h2 class="photostack-title">School</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/bff/7.png" class="photostack-img"><img src="./img/tbt/bff/7.png" alt="img07"/></a>
            <figcaption>
              <h2 class="photostack-title">Baguio</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/bff/8.png" class="photostack-img"><img src="./img/tbt/bff/8.png" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/bff/9.png" class="photostack-img"><img src="./img/tbt/bff/9.png" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="4">
            <a href="./img/tbt/bff/10.png" class="photostack-img"><img src="./img/tbt/bff/10.png" alt="img10"/></a>
            <figcaption>
              <h2 class="photostack-title">Friendship</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/bff/11.png" class="photostack-img"><img src="./img/tbt/bff/11.png" alt="img10"/></a>
          </figure> 
          <figure data-dummy>
            <a href="./img/tbt/bff/12.png" class="photostack-img"><img src="./img/tbt/bff/12.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/bff/13.png" class="photostack-img"><img src="./img/tbt/bff/13.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/bff/14.png" class="photostack-img"><img src="./img/tbt/bff/14.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/bff/15.png" class="photostack-img"><img src="./img/tbt/bff/15.png" alt="img10"/></a>
          </figure>
        </div>
      </section>

























      
      <hr/>
      <br/>
      <h4>Jeramie and Michael</h4>
      <section id="photostack-us" class="photostack photostack-start">
        <div>
          <figure>
            <a href="./img/tbt/us/1.png" class="photostack-img"><img src="./img/tbt/us/1.png" alt="img01"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
              <!-- <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
              </div> -->
            </figcaption>
          </figure>
          <figure>
            <a href="./img/tbt/us/2.png" class="photostack-img"><img src="./img/tbt/us/2.png" alt="img02"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Foodtrip</h2> -->
            </figcaption>
          </figure>
         <figure data-shuffle-iteration="2">
            <a href="./img/tbt/us/3.png" class="photostack-img"><img src="./img/tbt/us/3.png" alt="img03"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
              <!-- <div class="photostack-back">
                <p>I have never been to a place so serene in my entire life before. Swimming in clear waters opened my mind to nature and reminded me of my and <span>eveybody</span> everybody else's mortality.</p>
              </div> -->
            </figcaption>
          </figure>
            <figure>
            <a href="./img/tbt/us/4.png" class="photostack-img"><img src="./img/tbt/us/4.png" alt="img04"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Mcdo</h2> -->
              <!-- <div class="photostack-back">
                <p>These Happy Days are yours and mine Happy Days. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine?</p>
              </div> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/us/5.png" class="photostack-img"><img src="./img/tbt/us/5.png" alt="img05"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/us/6.png" class="photostack-img"><img src="./img/tbt/us/6.png" alt="img06"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/us/7.png" class="photostack-img"><img src="./img/tbt/us/7.png" alt="img07"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Baguio</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/us/20.png" class="photostack-img"><img src="./img/tbt/us/20.png" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/us/9.png" class="photostack-img"><img src="./img/tbt/us/9.png" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="4">
            <a href="./img/tbt/us/10.png" class="photostack-img"><img src="./img/tbt/us/10.png" alt="img10"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Friendship</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="4">
            <a href="./img/tbt/us/11.png" class="photostack-img"><img src="./img/tbt/us/11.png" alt="img10"/></a>
          </figure> 
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/us/12.png" class="photostack-img"><img src="./img/tbt/us/12.png" alt="img10"/></a>
          </figure>
          <figure data-shuffle-iteration="1">
            <a href="./img/tbt/us/13.png" class="photostack-img"><img src="./img/tbt/us/13.png" alt="img10"/></a>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/us/14.png" class="photostack-img"><img src="./img/tbt/us/14.png" alt="img10"/></a>
          </figure>
          <figure data-shuBffle-iteration="2">
            <a href="./img/tbt/us/15.png" class="photostack-img"><img src="./img/tbt/us/15.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/us/16.png" class="photostack-img"><img src="./img/tbt/us/16.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/us/17.png" class="photostack-img"><img src="./img/tbt/us/17.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/us/18.png" class="photostack-img"><img src="./img/tbt/us/18.png" alt="img10"/></a>
          </figure>
          <figure data-dummy>
            <a href="./img/tbt/us/19.png" class="photostack-img"><img src="./img/tbt/us/19.png" alt="img10"/></a>
          </figure>
        </div>
      </section>



      <hr/>
      <br/>
      <h4>TGLG</h4>
      <section id="photostack-tglg" class="photostack photostack-start">
        <div>
          <figure>
            <a href="./img/tbt/tglg/1.png" class="photostack-img"><img src="./img/tbt/tglg/1.png" alt="img01"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
              <!-- <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
              </div> -->
            </figcaption>
          </figure>
          <figure>
            <a href="./img/tbt/tglg/2.png" class="photostack-img"><img src="./img/tbt/tglg/2.png" alt="img02"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Foodtrip</h2> -->
            </figcaption>
          </figure>
         <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/3.png" class="photostack-img"><img src="./img/tbt/tglg/3.png" alt="img03"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
              <!-- <div class="photostack-back">
                <p>I have never been to a place so serene in my entire life before. Swimming in clear waters opened my mind to nature and reminded me of my and <span>eveybody</span> everybody else's mortality.</p>
              </div> -->
            </figcaption>
          </figure>
            <figure>
            <a href="./img/tbt/tglg/4.png" class="photostack-img"><img src="./img/tbt/tglg/4.png" alt="img04"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Mcdo</h2> -->
              <!-- <div class="photostack-back">
                <p>These Happy Days are yours and mine Happy Days. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine?</p>
              </div> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/tglg/5.png" class="photostack-img"><img src="./img/tbt/tglg/5.png" alt="img05"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/6.png" class="photostack-img"><img src="./img/tbt/tglg/6.png" alt="img06"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">School</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/7.png" class="photostack-img"><img src="./img/tbt/tglg/7.png" alt="img07"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Baguio</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/tglg/8.png" class="photostack-img"><img src="./img/tbt/tglg/8.png" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/9.png" class="photostack-img"><img src="./img/tbt/tglg/9.png" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">...</h2>
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="4">
            <a href="./img/tbt/tglg/10.png" class="photostack-img"><img src="./img/tbt/tglg/10.png" alt="img10"/></a>
            <figcaption>
              <!-- <h2 class="photostack-title">Friendship</h2> -->
            </figcaption>
          </figure>
          <figure data-shuffle-iteration="4">
            <a href="./img/tbt/tglg/11.png" class="photostack-img"><img src="./img/tbt/tglg/11.png" alt="img10"/></a>
          </figure> 
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/12.png" class="photostack-img"><img src="./img/tbt/tglg/12.png" alt="img10"/></a>
          </figure>
          <figure data-shuffle-iteration="1">
            <a href="./img/tbt/tglg/13.png" class="photostack-img"><img src="./img/tbt/tglg/13.png" alt="img10"/></a>
          </figure>
          <figure data-shuffle-iteration="3">
            <a href="./img/tbt/tglg/14.png" class="photostack-img"><img src="./img/tbt/tglg/14.png" alt="img10"/></a>
          </figure>
          <figure data-shuffle-iteration="2">
            <a href="./img/tbt/tglg/15.png" class="photostack-img"><img src="./img/tbt/tglg/15.png" alt="img10"/></a>
          </figure>
        </div>
      </section>

  </div>
  <hr/>

  <footer class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="text-xs-center tm-copyright">Copyright &copy; 2018  Boyfriend
    </div>
  </footer>
</div>


<div class="scroll-top-wrapper">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>


<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- <div class="container">
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="./img/her/cover.png" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="./img/her/dp.jpg" alt="Profile image example"/>
  <div class="fb-profile-text">
      <h3>Jeramie Joy Alayon</h3>
      <small>Look at the Stars. Look how they shine for You. And everything you do. Yeah, they were all Yellow</small>
  </div>
</div>
</div> -->





<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/back-top.js"></script>
<script src="./js/modernizr.min.js"></script>
<script src="./js/classie.js"></script>
<script src="./js/photostack.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
  $('body').addClass('loaded');
  new Photostack( document.getElementById( 'photostack-2' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
  
  new Photostack( document.getElementById( 'photostack-tglg' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
    
  new Photostack( document.getElementById( 'photostack-us' ), {
     callback : function( item ) {
      console.log(item)
      }
  } );
</script>
</body>
</html>