
  <hr/>

  <footer class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="text-xs-center tm-copyright">Copyright &copy; 2018 John Michael Ong 
    </div>
  </footer>
</div>

<div class="scroll-top-wrapper show">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- <div class="container">
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="./img/her/cover.png" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="./img/her/dp.jpg" alt="Profile image example"/>
  <div class="fb-profile-text">
      <h3>Jeramie Joy Alayon</h3>
      <small>Look at the Stars. Look how they shine for You. And everything you do. Yeah, they were all Yellow</small>
  </div>
</div>
</div> -->
 
    


<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script src="./js/back-top.js"></script>
<script>
  $('body').addClass('loaded');
</script>
</body>
</html>