<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="./css/home.css">
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <link rel="stylesheet" href="./css/greet-panel.css">
    <link rel="stylesheet" href="./css/magnific-popup.css">
    <link rel="stylesheet" href="./css/templatemo-style.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/fb-profile.css">
    <link rel="stylesheet" href="./css/demo.css">
    <link rel="stylesheet" href="./css/component.css">
    <link rel="stylesheet" href="./css/badge.css">
    <link rel="stylesheet" href="./css/back-top.css">
</head>
<body>
<header>
    <nav class="nav dark-nav">
      <div class="container">
        <div class="nav-heading">
          <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
          <a class="brand" href="/"><span class = "fa fa-heart"></span> EM <span class = "fa fa-heart"></span> </a>
        </div>
        <div class="menu" id="open-navbar1">
          <ul class="list">
              
            <li class =""> <a href="/" ><span class = "fa fa-home"></span> Home</a></li>
            <li><a href="/throwback"><span class = "fa fa-heart"></span> Throwback</a></li>
            <li><a href="/greetings"><span class = "fa fa-comment"></span> Greetings</a></li>
            <li><a href="/message"><span class = "fa fa-gift"></span> Michael Message</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
 